/*Global setting*/
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
/*Add a background image behind the body of the page that uses the bats.gif file in the images
folder. This image should repeat both horizontally and vertically.*/
	background-image: url("../images/bats.gif");
	margin-top: 3em;
}
a {
    font-weight: bold;
    color: orange;
}
a:link, a:visited { 
    color: orange; 
}
a:hover, a:focus { 
    color: green;
}

/*Format the body of the page so it’s 800 pixels wide, has a white background, has a black border
with a shadow, and is centered in the browser window.*/

#content-wrap{
width: 800px;
background-color: white;
border: 2px black solid; /*Add a black border below the header and above the footer.*/
box-shadow: 6px 6px 6px black;
margin: 0 auto;
}

/* Header */
header{
	/* Remove the shadow, italics, and color from the first heading in the header. */
	/* Add a 45-degree gradient to the header and footer. The gradient in the header should range
	from white at the left to orange ¾ of the way to the right to black at the right. The gradient in the
	footer should be the reverse. Be sure to provide for all modern browsers. */
	background: linear-gradient(45deg, white, orange 75%, black); 
	margin: 0 auto;
	border-bottom: 2px black solid; /*Add a black border below the header and above the footer*/
	padding-top: 20px;
	padding-left: 20px;
}
header img { 
	float: left; 
} 
header h2 {
	font-size: 230%;
	text-indent: 25px;
	margin-top: 0px;
}
header h3 {
	font-size: 125%;
	text-indent: 25px;
}
/*Aside */
aside {
	padding: 10px;
	width: 160px;/* The width of the sidebar should be 160 pixels */
	float: left;
	padding-right: 20px;
}

/* Main */
main {
	background-color: white;	
	overflow: auto;
}
main h1 { 
	font-size: 140%;
}
main h1:first-letter { 
	font-size: 240%;
}
main h2 {
	font-size: 125%;
}
main h3 {
	font-size: 110%;
	border:1px black solid;
}
ul {
	line-height: 1.5;
}

/* Footer */
footer{
	clear: both;/* Be sure to clear the footer so it’s not displayed below the list. */
	border-top: 2px black solid;/*Add a black border below the header and above the footer.*/
	/* Add a 45-degree gradient to the header and footer. The gradient in the header should range
	from white at the left to orange ¾ of the way to the right to black at the right. The gradient in the
	footer should be the reverse. Be sure to provide for all modern browsers. */
	background: linear-gradient(45deg, black, orange 75%, white); 
	padding-bottom: 15px;
}
footer p {
	font-size: 90%;
	text-align: center;
	margin-bottom: 0px;
}